@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
  background-color: var(--bodyColor);
  /* position: relative; */
}

/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--secondaryColor);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-title {
  color: var(--mainBlack);
  font-weight: 800;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mainRed);
  border-radius: 50%;
  color: var(--mainWhite);
}

/* --------------- End of Navbar ---------------- */

/* --------------------start of products section */

.products {
  padding: 1rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 100vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  border-radius: 8px 8px 0 0;
}

.product-desc {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.product-title {
  color: var(--mainBlack);
  font: bold;
  font-size: 1.1rem;
}
.product-price {
  color: var(--primaryColor);
}
.btn {
  background: var(--secondaryColor);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: var(--primaryColor);
  font-weight: bold;
  margin: 20px 0 15px 0;
  border-radius: 8px;
  cursor: pointer;
}
/* ---------------End of Products ---------------- */

/* Cart */

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  width: 30rem;
  padding: 2rem;
  min-height: 200px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  top: 30% !important;
  left: 30%;
  position: absolute;
}
.cart-title {
  text-align: center;
  margin-bottom: 15px;
}
.cart-content {
  padding: 0.5rem;
}
.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item-img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.cart-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cart-item-desc h5 {
  margin-top: 10px;
  color: var(--mainGrey);
}

.cart-item-conteoller {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.cart-item-conteoller i.fa-chevron-up {
  font-weight: bold;
  cursor: pointer;
  color: var(--primaryColor);
}
.cart-item-conteoller i.fa-chevron-down {
  color: var(--mainRed);
  cursor: pointer;
  font-weight: bold;
}
.remove-item {
  cursor: pointer;
}
.cart-footer {
  text-align: center;
}

.cart-footer span {
  display: inline-block;
  margin-right: 1rem;
}

.clear-cart {
  background-color: var(--mainWhite);
  border: 1px solid var(--primaryColor);
  margin-right: 10px;
}

@media (max-width: 600px) {
  .cart {
    left: 5% !important;
    max-width: 50rem;
    width: calc(100vw - 2rem);
    padding: 0;
  }
}
.fa-trash-alt {
  cursor: pointer;
}